body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.todo-container {
  text-align: center;
  background-color: lightcoral;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
.element-style {
  input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 10px;
    padding-inline: 20px;
}
}


.todoListElement {
  background-color: chocolate;
}